@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 28px;
    font-family: 'monospace', serif;
    color: #333;
    padding: 0;
    margin: 0;

}
h2 {
    font-size: 24px;
    margin: 0;
}
h3 {
    font-size: 20px;
    padding: 15px 0 5px 0;
}

ul {
    margin: 0 0 0 1em;
    padding: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
    height: 1px;
}

blockquote {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    font-style: italic;
}