@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


ul {
    margin: 0 0 0 1em;
    padding: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
    height: 1px;
}

blockquote {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    font-style: italic;
}

#content {
    padding: 0px 30px 15px 30px;
}


@media (max-width: 480px) {
p {
    font-size: 15px;
}
}

@media (max-width: 480px) {
p {
    font-size: 14px;
}
#content {
    padding: 0px 10px 15px 10px;
}

}