/* --- Breadcrumb ---*/
.breadcrumb ol {
    display: flex;
    list-style: none;
    padding: 30px 0 0 40px;
    margin: 0;
}

.breadcrumb li + li::before {
    content: ">";
    margin: 0 0.5em;
    color: #999;
}

@media (max-width: 700px) {
.breadcrumb ol {
    padding: 40px 5px 0 10px;
}
li {
    font-size: 11px;
}
}