/* --- Breadcrumb ---*/
.breadcrumb ol {
    display: flex;
    list-style: none;
    padding: 15px 5px 0px 40px;
    padding-left: 40px;
    margin: 0;
}

.breadcrumb li {
    font-size: 16px;
}

.breadcrumb li + li::before {
    content: ">";
    margin: 0 0.5em;
    color: #999;
}

/* タブレットサイズ */
@media (max-width: 900px) {
.breadcrumb ol {
   padding-left: 30px;
}
.breadcrumb li {
    font-size: 14px;
}
}

/* スマホサイズ */
@media (max-width: 480px) {
.breadcrumb ol {
    padding-left: 15px;
}

.breadcrumb li {
    font-size: 11px;
}
}