/* --- Breadcrumb ---*/
.breadcrumb ol {
    display: flex;
    list-style: none;
    padding: 30px 5px 20px 40px;
    margin: 0;
}

.breadcrumb li {
    font-size: 18px;
}

.breadcrumb li + li::before {
    content: ">";
    margin: 0 0.5em;
    color: #999;
}

@media (max-width: 900px) {
.breadcrumb ol {
    padding: 30px 5px 20px 30px;
}
.breadcrumb li {
    font-size: 14px;
}
}

@media (max-width: 480px) {
.breadcrumb ol {
    padding: 40px 5px 20px 15px;
}
.breadcrumb li {
    font-size: 11px;
}
}