@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
}

/* ---footer--- */
.site-footer {
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    height: 40px;
    display: flex;
    justify-content: center; /* цик */
    align-items: center;     /* ч╕ж */
    color: #444;
    background-color: #F8F8F8;
    border-top: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}




