@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.site-footer__wrapper {
    background-color: #f6f6f6;
    border: 1px solid #eee;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border-radius: 0px 0px 10px 10px;
}

/* ---SNS icon--- */
.site-footer__sns {
    display: flex;
    justify-content: center;
    gap: 25px;
    
}

.site-footer__sns-item {
    padding: 10px 0px 10px 0px ;
    display: flex;
    flex-direction: row;
    align-items: center;     /* 円とラベルを中央揃え */
    text-decoration: none;  /* aタグの下線を消す */
    color: inherit;         /* 色を継承 */
}

/* SNSロゴマーク */

/* アイコンの周りの丸 */
.site-footer__sns-circle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;    /* 縦中央 */
    justify-content: center;/* 横中央 */
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #ddd;
}

/* アイコン */
.site-footer__sns-icon {
    color: #fff;
    font-size: 22px;        /* アイコンサイズ */
}

/* SNSラベル */
.site-footer__sns-label {
    font-size: 14px;
    text-align: center;
    color: #666;
}

/* hover (アイコンとラベルに色をつける) */
.site-footer__sns-item:hover .site-footer__sns-icon--twitter {
    color: #00acee;        /* 旧Twitterブルー */
    transition: all 0.2s;
}
.site-footer__sns-item:hover .site-footer__sns-icon--youtube {
    color: #f03;
    transition: all 0.2s;
}
.site-footer__sns-item:hover:hover .site-footer__sns-label{
    color: #000;
}

/* active (アイコンに色をつける) */
.site-footer__sns-item:active .site-footer__sns-icon--twitter {
    color: #00acee;        /* 旧Twitterブルー */
}

.site-footer__sns-item:active .site-footer__sns-icon--youtube {
    color: #f03;
}

/* SatoneLabの権利表記 */
.site-footer__copyright {
    font-size: 14px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center; /* 横 */
    align-items: center;     /* 縦 */
    color: #666;
}


@media (max-width: 900px) {
.site-footer__wrapper {
    border-radius: 0;
}
}

@media (max-width: 480px) {
.site-footer__wrapper {
    border-radius: 0;
}
}