
.site-core {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
}

.content {
    padding: 0px 20px 15px 20px;
}

/* --- h1 --- */
.content__title { 
    font-size: 28px;
    font-family: 'monospace', serif;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #999;
    color: #333;
}

.content__description {
    text-align: center;
}

/* --- card --- */
.content__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card {
    flex: 0 1 300px;
}
.card__link {
    display: block;
    width: 100%;            /* Cardの幅いっぱいに広げる */
    padding: 5px;           
    text-align: center;
    text-decoration: none; /* 下線を消す */
    color: inherit;        /* 親要素の文字色を使う */
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: all 0.2s;
}

.card__link:hover {
    transform: translateY(-5px);   /* ほんの少し浮き上がる */
    box-shadow: 0 4px 10px rgba(0,0,0,0.7);
    cursor: pointer;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;  /* アイコン・タイトル・タグの間隔 */
  margin: 10px;
}

.card__icon {
    font-size: 0.5em;
    color: #555;
}

.card__title {
    font-size: 22px;
    color: #333;
    margin: 0;
}

.card__tag {
    font-size: 11px;
    padding: 2px 6px;
    margin: 0;
    color: #888;
    border-radius: 999px;
    background: #f0f0f0;
}

.card__summary {
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
    color: #555;
}





@media (max-width: 480px) {
p {
    font-size: 15px;
}
.content {
    padding: 0px 5px 15px 5px;
}

}

@media (max-width: 350px) {
p {
    font-size: 14px;
}


}