h1 {
    font-size: 28px;
    font-family: 'monospace', serif;
    color: #333;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 24px;
    margin: 0;
    border-bottom: 1px solid #999;
}
h3 {
    font-size: 20px;
    padding: 0 ;
}

#outer {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
}

.description {
    text-align: center;
}

/* --- Content --- */
#content {
    /* paddingは base.css で指定済み */
}
#content h2 {
    text-align: center;
}

/* --- tab button --- */
.tab-btn-container {
    display: flex;
    justify-content: center; /* 横方向中央揃え */
    gap: 0px;
    margin-top: 30px;
}

.tab-btn {
    width: 40%;
    padding: 10px 20px;
    border: 2px solid #333;
    border-bottom: none;
    background: linear-gradient(
        to bottom,
        #fff,
        #ccc
    );
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    box-shadow: 0 -8px 10px rgba(0,0,0,0.1);
}

.tab-btn:hover {
    filter: brightness(1.02);
    box-shadow: 0 -8px 10px rgba(0,0,0,0.2);
}

.tab-btn.active {
    background: #fff;
    top: 2px;                      /* 線の上に乗せる */
}

.tab-content-container {
    padding-top: 25px;
    border-top: 2px solid #333;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* --- map images --- */
.map-img {
    display: block;   /* ブロックにする */
    max-height: 450px;
    min-height: 200px;
    max-width: auto;
    margin-left: auto;
    margin-right: auto; /* 左右マージンを自動に */
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* --- download button --- */
.download-btn {
    display: block;
    width: 320px;
    height: 50px;
    margin-top: 20px;
    padding: 12px 30px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(
        to bottom,
        #8bf,
        #08f
    );
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.download-btn:hover {
    opacity: 0.85;
    transform: translateY(-2px);   /* ほんの少し浮き上がる */
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
.download-btn:active {
    transition-duration: 0.05s;
    opacity: 1.2;
    transform: translateY(3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.8);
}

/* --- images meta data --- */
.meta {
    text-align: center;
    margin: 10px 0 20px 0;
}