@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#outer {
    margin: 2% auto;
    width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

h1 {
    font-size: 28px;
    color: #333;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999;
}

h3 {
    font-size: 20px;
    padding: 15px 0 5px 0;
}

header {
    height: 120px;
}

#header-inner {
    display: flex;
    justify-content: space-between; /* 左右に配置 */
    align-items: center;            /* 縦中央揃え */
    padding: 30px;

    
}

.side-title {
    margin: 0;      /* h1のデフォルト余白を消す */

}
.navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.navigation-list a {
    display: block;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 15px;

}
.navigation-list li {
    list-style: none;

}

.navigation-list a:hover {
    background-color: #DDD;
}

.description {
    font-size: 16px;
    color: #666;
}

#content {
    float: right;
    width: 70%;
}

.inner {
    padding: 20px 30px 20px 0;
}

ul {
    margin: 0 0 0 1em;
    padding: 0;
}


p {
    margin: 1em 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
    height: 1px;
}

a {
    color: #003366;
}

aside {
    color: #676767;
    width: 30%;
    float: left;
}

#side-inner {
    padding: 20px 30px;
}

.side-title {
    padding: 10px 15px;
    margin: 0;
    font-weight: bold;
    color: #E3E3E2;
    background: #003366;
    border-radius: 5px 5px 0 0;
}

.side {
    background-color: #fcfcfc;
    padding: 10px;
    margin: 0 0 15px 0;
    font-weight: bold;
    border: 1px #dcdcdc solid;
    border-radius: 0 0 5px 5px;
}

    .side a {
        color: #036;
        text-decoration: none;
    }

        .side a:hover {
            text-decoration: underline;
        }

    .side ul {
        margin: 0 0 1em 0;
        padding: 0;
    }

    .side li {
        padding: 5px 0;
        margin: 0;
        list-style: none;
    }

footer {
    padding-top: 20px;
    font-size: 14px;
    height: 100px;
    clear: both;
    text-align: center;
    color: #444;
    background-color: #F2F2F2;
}

    footer a {
        color: #444;
    }

blockquote {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    #outer {
        width: 100%;
        margin: 0;
    }

    #header-inner {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
        color: #333;
        padding: 0;
        margin: 0;
    }

    #content {
        width: 100%;
        float: none;
    }

    .inner {
        padding: 20px 15px;
    }

    aside {
        width: 100%;
        float: none;
    }

    #side-inner {
        padding: 15px;
    }
}
