h1 {
    font-size: 28px;
    font-family: 'monospace', serif;
    color: #333;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 24px;
    margin: 0;
    padding: 15px 0 5px 0;
    border-bottom: 1px solid #999;
}
h3 {
    font-size: 20px;
}


#outer {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
}
img {
    width: 350px;

    height: auto;
    border: 0;
    display: block;   /* ブロックにする */
    margin-left: auto;
    margin-right: auto; /* 左右マージンを自動に */
}
/* --- Content --- */
#content {
    /* paddingは base.css で指定済み */
}

.inner {
    margin-top: 40px;
}

.description {
    text-align: center;
    margin: 0;
}

/* --- card --- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.card {
    display: block;
    width: 250px;
    padding: 5px;
    text-align: center;
    text-decoration: none; /* 下線を消す */
    color: inherit;        /* 親要素の文字色を使う */
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: all 0.2s;
}

.card:hover {
    transform: translateY(-5px);   /* ほんの少し浮き上がる */
    box-shadow: 0 4px 10px rgba(0,0,0,0.7);
    cursor: pointer;
}


.card-title {
    font-size: 22px;
    color: #333;
}

.card-title i {
    font-size: 0.9em;
    margin-right: 3px;
    color: #555;
}

.card p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
}



