#outer {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
}
.description {
    text-align: center;
}
/* --- Content --- */
#content {
    /* paddingは base.css で指定済み */
}
#content h2 {
    text-align: center;
}
#content h3 {
    text-align: center;
}


/* --- card --- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card {
    display: block;
    width: 290px;
    padding: 20px;
    text-align: center;
    text-decoration: none; /* 下線を消す */
    color: inherit;        /* 親要素の文字色を使う */
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.card:hover {
    transform: translateY(-3px);   /* ほんの少し浮き上がる */
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    cursor: pointer;
}
.card-title {
    margin: 5px 10px 20px 10px;
}

.card-title i {
    font-size: 0.9em;
    margin-right: 5px;
    color: #555;
}

.emoji-icon {
    filter: grayscale(100%) brightness(0.7);
    font-size: 0.9em;
    margin-right: 0px;
}

