h1 {
    font-size: 28px;
    font-family: 'monospace', serif;
    color: #333;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 24px;
    margin: 0;
    border-bottom: 1px solid #999;
}
h3 {
    font-size: 20px;
    padding: 15px 0 5px 0;
}

#outer {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
}
.description {
    text-align: center;
}
/* --- Content --- */
#content {
    padding: 30px 30px 15px 30px;
}
#content h2 {
    text-align: center;
}
#content h3 {
    text-align: center;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card {
    display: block;
    width: 290px;
    text-align: center;
    text-decoration: none; /* 下線を消す */
    color: inherit;        /* 親要素の文字色を使う */
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.card:hover {
    transform: translateY(-3px);   /* ほんの少し浮き上がる */
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    cursor: pointer;
}
.card h3 {
    margin: 5px 10px 20px 10px;
}

.emoji-icon {
    filter: grayscale(100%) brightness(0.7);
    font-size: 0.9em;
    margin-right: 0px;
}

.card-title i {
    font-size: 0.9em;
    margin-right: 5px;
    color: #555;
}

@media (max-width: 700px) {
#outer {
    margin: 0px auto;
}
}